<section>
  <div class="example-button-row">
    <div class="example-flex-container">
      <div class="example-button-container">
        <button mat-fab color="primary" [routerLink]="['/car/index']">
          <mat-icon>home</mat-icon>
        </button>
      </div>
      <div class="example-button-container">
        <button mat-fab color="warn" [routerLink]="['/car/create']">
          <mat-icon>plus_one</mat-icon>
        </button>
      </div>
    </div>
  </div>
</section>
<router-outlet></router-outlet>
